<!-- <nav>
  <ul>
    <li><a routerLink="/emp-list" routerLinkActive="active">Employee List</a></li>
    <li><a routerLink="/create-employee">Create Employee</a></li>
  </ul>
</nav>
 -->
<!-- <div class="main-header">
  <div style="float: left;">
    EMPLOYEE MANAGEMENT SYSTEM
  </div>
  <div style="float: right;line-height: 1.3;">
    <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-secondary"></button>
  </div>
</div>
<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu> -->

<router-outlet></router-outlet>