<!-- <div class="main-header">
    <div style="float: left;">
        EMPLOYEE MANAGEMENT SYSTEM
    </div>
    <div style="float: right;line-height: 1.3;">
        <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-secondary"
            (click)="confirm()"></button>
    </div>
</div> -->
<div class="d-flex bd-highlight main-header">
    <div class="p-2 w-100 bd-highlight">
        EMPLOYEE MANAGEMENT SYSTEM
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight" style="line-height: 1.3;">
        <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-secondary"
            (click)="confirm()"></button>
    </div>
</div>
<div class="user-header" (click)="clickMain()">
    <!-- Welcome {{userName}}, Total employee {{printChildMessageObservableWay}} {{param}} -->
    Welcome {{userName}}, Total employee {{printChildMessageObservableWay}}
</div>
<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>